[user]
    name=Greg Symons
    email=gsymons@affinipay.com
    signingkey=5836822F
[alias]
    co=checkout
    ci=commit
    st=status
    rb=!bash -c '"export BRANCH=$1; export REMOTE=${2:-origin}; echo Creating branch $BRANCH on remote $REMOTE &&  git checkout -b $BRANCH && git push -u $REMOTE $BRANCH"' $1 $2
    missing=!bash -c '"git cherry -v $1 $2 $3 | grep ^+ || echo No missing changesets"' $1 $2 $3
    br=branch
[core]
    excludesfile = ~/.gitignore
[color]
	ui = auto
[push]
	default = upstream
