[submodule ".vim/bundle/pathogen"]
	path = .vim/bundle/pathogen
	url = git@github.com:tpope/vim-pathogen
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree
[submodule ".vim/bundle/vim-scala"]
	path = .vim/bundle/vim-scala
	url = git@github.com:derekwyatt/vim-scala
[submodule ".vim/bundle/vim-table-mode"]
	path = .vim/bundle/vim-table-mode
	url = git://github.com/dhruvasagar/vim-table-mode.git
[submodule ".vim/bundle/maven-compiler"]
	path = .vim/bundle/maven-compiler
	url = https://github.com/JalaiAmitahl/maven-compiler.vim
[submodule ".vim/bundle/vim-lawrencium"]
	path = .vim/bundle/vim-lawrencium
	url = git@github.com:ludovicchabant/vim-lawrencium
