[submodule ".vim/bundle/pathogen"]
	path = .vim/bundle/pathogen
	url = git@github.com:tpope/vim-pathogen
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive
